*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* cuerpo */
body{
    background-color: #2E016B;
    color:rgb(234, 199, 255);
    font-family: arial, sans-serif;
    background-size: cover;
    background-attachment: fixed;
    padding: 2rem;
}
main{
    text-align:center;

}

/* contenedor principal */
.contenedor{
    width: 80%;
    max-width: 1200px;
    margin: auto;
    padding: 2rem;
    background-color: #6d10d88c;
    border: 3px solid #2b055c;
    border-radius: 18px;
    padding: 2rem;
    width: 80%;
    margin: 0.5rem auto;
    box-shadow: 8px 8px 0px #01e7c1ec;

}
/* encabezado */
.encabezado{
    background-color: rgba(124, 81, 243, 0.801);
    color: rgb(250, 233, 253);
    text-align: center;
    padding: 2rem;
    background: linear-gradient(90deg, #ab19ff, #2ee6af);
    color: white;
    border-radius: 18px;
}

.menu a{
    color: white;
    text-decoration: none;
    margin: 1rem;
    font-weight: bold;
}
.menu a:hover{
    color: #47151c;
}
.menu ul{
    list-style: none;
    padding: 0;
}
.menu li{
    display: inline;
}

.contenido{
    padding: 2rem;
}


/* Titulos */
h1, h2, h3{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: 'Abel', sans-serif;
}

p{
    margin-bottom: 1rem;
    line-height: 1.5rem;
}

button{
    background-color: #310e5a;
    color:white;
    border: none;
    padding: 12px 25px;
    margin: 5px;
    border-radius: 8px;
    cursor:pointer;
}
#imagenCarta{
    width:200px;
    height: 280px;
    object-fit: contain;
}
#carta-actual{
    margin: 20px auto;
    padding: 20px;
}
#mensaje{
    font-size: 18px;
    margin-top: 20px;
}
#ronda,#puntaje{
    font-weight: bold;
}
button:hover{
    background-color: #8a2be2;
}    
h1,h2{
    font-size: 40px;
    margin-bottom:20px;
}
footer{
    margin-top: none;
    text-align: center;
    font-weight: bold;
}



/* CSS DE DADOS.HTML */

.explicacion {
    margin-bottom: 3rem;
}

.temporizador {
    font-size: 20px;
    font-weight: bold;
}

#tiempo {
    color: lightyellow;
}

#dados {
    margin: 25px 0;
}

#dados img {
    width: 6rem;
    height: 6rem;
    margin: 0.5rem;
}

button:disabled {
    background-color: #73ffd5ab;
    background-color: #999999;
     cursor: not-allowed;
}

#resultado {
    margin-top: 1rem;
    font-size: 20px;
    font-weight: bold;
}

#mensaje {
    font-size: 18px;
    min-height: 25px;
}

.posiciones {
    text-align: center;
}

.posiciones p {
    display: inline-block;
    margin: 10px 30px;
    font-size: 18px;
}

#posicion1 {
    font-weight: bold;
}

#posicion2 {
    font-weight: bold;
}

#tablero {
    text-align: center;
    margin-top: 20px;
}

.numero {
    display: block;
    font-weight: bold;
}

.fichas {
    margin-top: 8px;
    min-height: 25px;
}

.ficha1 {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #00d845ec;
    border-radius: 50%;
    margin: 2px;
    border: 1.5px solid #222222;
}

.ficha2 {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #ff7300;
    border-radius: 50%;
    margin: 2px;
    border: 1.5px solid #222222;
}

.juego-contenedor {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
}

.juego {
    width: 35%;
    text-align: center;
}

.derecha {
    width: 65%;
}

.seccion-tablero {
    text-align: center;
}

.posiciones {
    margin-top: 2rem;
    text-align: center;
}


.casillero {
    display: inline-block;
    width: 55px;
    height: 55px;
    border: 2px solid #310e5a;
    margin: 3px;
    vertical-align: top;
    padding: 5px;
    background-color: #eeeeee;
    color:#222222
}


/* juego PREGUNTAS */
#imagenRonda {
    width: 425px;
    height: 325px;
    object-fit: cover;
    display: block;
    margin: 15px auto;
}

.oculto {
    display: none;
}

